<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../com/css/semantic.css">
    <style>

    </style>
</head>
<body>
<div class="ui icon button" data-content="添加用户" data-position="bottom left">
    <i class="add icon"></i>
</div>
<div class="ui button" data-inverted="" data-tooltip="添加用户" data-position="top left">
    上左
</div><div class="ui button" data-inverted="" data-tooltip="添加用户" data-position="bottom left">
    下左
</div>

<script src="../com/js/jquery-1.12.4.js"></script>
<script src="../com/js/semantic.js"></script>
<script type="text/javascript">
    $('.ui.button')
            .popup()
    ;
</script>
</body>
</html>